<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento dos poetas torturados</title>

    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <body style="background-color:{{cor_fundo_html}};">

        <header>

            <div class="cabecalho-site">

            <h1>Departamento dos poetas torturados</h1>
    
            <div class="lado-direito-cabecalho">
                
                    <span><a href="/templates/home.html">Home</a></span>
                    <span>Sobre</span>
                    <span>Novidades</span>

                <form>
                    <button>Login</button>
                </form>
            </div>
                    
  
            </div>
    
    
        </header>
    
        <main style="display: flex;">
            <h2 style="padding-left: 50px;">TTPD</h2>
    
            <p style="padding-left: 50px; padding-top: 100px; display: block;">{{frase_aleatoria_html}}</p>
    
            <img style="width: 500px; border-radius: 9000px; margin-left: 600px;" src="/static/img/{{imagem_aleatoria_html}}" alt="taylor swift"> 
        </main>
</body>
</html>