<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento dos poetas torturados</title>

    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

    <body style="background-color:{{cor_fundo_html}};">

        <header>

            <div class="lado-esquerdo-cabecalho">

                <h1>Departamento dos poetas torturados</h1>

            </div>

            <div class="lado-direito-cabecalho">

                <span><a href="/home">Home</a></span>
                <span><a href="/sobre">Sobre</a></span>
                <span>Novidades</span>

                <form>
                    <button>Login</button>
                </form>
            </div>

        </header>

        <main class="corpo-site" ;>

            <div class="frases-lado-dir">

                <p class="frase-aleatoria">{{frase_aleatoria_html}}</p>
            </div>
            <div class="imagens-lado-esq">
                <img class="imagem-aleatoria" src="/static/img/{{imagem_aleatoria_html}}" alt="taylor swift">
            </div>
        </main>
    </body>

</html>