<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento dos poetas torturados</title>
</head>
<body>
    <body style="background-color:{{cor_fundo_html}}; margin: 0; padding: 0; box-sizing: border_box;">

        <header style="display: flex; background-color: white; ;">
            <h1 style="padding-left: 50px;">Departamento dos poetas torturados ★</h1>
    
            <div style="padding: 37px; display: flex; gap: 20px; padding-left: 1000px;">
    
                    <spam><a href="/templates/home.html" style="text-decoration: none; color: black; padding: 10px;">Home</a></spam>
                    <spam>Sobre</spam>
                    <spam>Novidades</spam>
    
                <form>
                    <button>Login</button>
                </form>
            </div>
    
    
        </header>
    
        <main style="display: flex;">
            <h2 style="padding-left: 50px;">TTPD</h2>
    
            <p style="padding-left: 50px; padding-top: 100px; display: block;">{{frase_aleatoria_html}}</p>
    
            <img style="width: 500px; border-radius: 9000px; margin-left: 600px;" src="/static/img/{{imagem_aleatoria_html}}" alt="taylor swift"> 
        </main>
</body>
</html>