<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popstars</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>

<body style="background-color:{{cor_fundo_html}}">

    <header>
        <h1>Popstars ★</h1>

        <spam>Home</spam>
        <spam>Sobre</spam>
        <spam>Novidades</spam>

        <form>
            <button>Login</button>
        </form>
    </header>

    <main>
        <h2>Popstars: O universo infinito das estrelas do pop!</h2>

        <p>O Popstars é o site definitivo para todos os fãs do universo pop. Com foco nas artistas que definem e reinventam o gênero, o site traz conteúdos exclusivos sobre as maiores estrelas da música mundial, como Beyoncé, Ariana Grande, Taylor Swift, Lady Gaga, Rihanna, e muito mais. Aqui, você encontra notícias de última hora sobre seus lançamentos, shows, e projetos paralelos, além de análises sobre seus álbuns e clipes.

            Além das atualizações diárias, o site conta com uma seção de biografias detalhadas, curiosidades e momentos icônicos de suas carreiras. Com uma equipe de fãs apaixonados e especialistas no mundo da música, o Divas Pop oferece uma visão completa do legado e do impacto dessas artistas na cultura pop, sempre com muito estilo e irreverência.
            
            Se você é fã de pop, aqui é o seu lugar para celebrar o brilho dessas divas que continuam a conquistar corações ao redor do mundo</p>
    
            <img style= "width: 500px; border-radius: 9000px;"src="/static/img/taylor_swift.png" alt="taylor swift">
        </main>

    <footer>
        <h3>Popstars</h3>


    </footer>
</body>
</html>